<!-- 
    1. Ask the user for pre-fire range date
    2. Ask the user for post-fire range date
    3. Ask the user to choose imagery: 
        a. Sentinel
        b. Landsat
    4. Ask the user to draw a feature using OpenLayers interaction - this should be in javascript
    5. Last step is for the user to click Calculate button 
    6. If the user wants to clean all the selection, there should be a "Clean" button

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forest Fire Severity Mapping using Google Earth Engine</title>

    <link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@4.1.1/dist/ol-layerswitcher.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/openlayers/7.1.0/ol.min.css" integrity="sha512-InhY7dfdkf2+ZyIsz9AX9M1xDC3GjEy0zVnAIudX1fTUOEhBu13KooX9txjBoWkDAMI3fQ07VE/D0gMUvweerw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <!-- 3rd party libraries-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/7.1.0/index.js" integrity="sha512-P5hrR+jPjZay1KnD49hwkDzZ/V44/0TzvmBXC47q3urXDnNubii20P52gHOdM3sEg0h9x1JtKSif83uCSeg3hQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/ol-layerswitcher@4.1.1"></script>

    <!-- import javascript code from static
    not really sure if the code below is the same for flask-->
    {% comment %} <script src="{{ url_for('static', path='js/main.js') }}"></script> {% endcomment %}
    
</body>
</html>