<!DOCTYPE html>
<html lang="en">
<head>
    <title>GEEFIRE: Fire Severity Mapping</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/ol-layerswitcher@3.8.3/dist/ol-layerswitcher.css" />
    <link rel="stylesheet" href="../static/css/ol.css" type="text/css">

    <link rel="stylesheet" href="../static/css/ol3-sidebar.css" />

    <style>
        body {
            padding: 0;
            margin: 0;
            overflow: hidden;
        }

        html, body, #map {
            height: 100%;
            font-family: 'Poppins';font-size: 12px;
        }

        .lorem {
            font-style: italic;
            color: #AAA;
        }
    </style>
</head>
<body>
    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
                <li><a href="https://github.com/Turbo87/sidebar-v2" role="tab" target="_blank"><i class="fa fa-github"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                    Fire Severity Mapping
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                <br>     

                <b> 1. Pre-fire range dates </b> <br><br>

                <input type="date" id="pre_start" name="pre_start" value="2019-05-01" min="2016-01-01"> -
                <input type="date" id="pre_last" name="pre_last" value="2019-05-10" min="2016-01-01"><br><br>

                <b> 2. Post-fire range dates </b> <br><br>

                <input type="date" id="fire_start" name="fire_start" value="2020-06-01" min="2016-01-01"> -
                <input type="date" id="fire_last" name="fire_last" value="2020-06-10" min="2016-01-01"><br><br>                  
                
                <b> 3. Select imagery </b> <br><br>

                <input type="radio" id="SatImage" name="SatImage" value="Sentinel-2">
                <label for="Sentinel">Sentinel</label>
                <input type="radio" id="SatImage" name="SatImage" value="Landsat-8">
                <label for="Landsat">Landsat</label><br><br> 

                <b> 4. Calculate and Visualize</b> <br><br>
                <input class="button is-primary" type="submit" value='Calculate and Visualize' id="calcviz">   
                
                <br><br>

                <b> 5. Download Map and Statistics</b> <br><br>
                <input class="button is-primary" type="submit" value='Download' id="download">   
                
                <br><br>
                
                <b> 6. Restart</b> <br><br>
                <input class="button is-primary" type="submit" value='Reset' id="reset">     
            </div>
            <br>                       
        </div>
    </div>


    <div id="map" class="sidebar-map"></div>

    <script src="../static/js/ol.js"></script>
    <script src="../static/js/ol3-sidebar.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="https://unpkg.com/ol-layerswitcher@3.8.3"></script>
</body>
</html>